<mat-card>
    <div class="notranslate">
        <mat-card-title class="title">
            <h1 style="font-weight: bold;">Home Page</h1>
        </mat-card-title>
    </div>
    <mat-card-content class="bodyText notranslate">
        <h2>About Dog Guide Handlers Australia</h2>
        Dog Guide Handlers Australia (DGHA) is an independent non profit association of dog guide handlers, and is not
        affiliated with any dog guide organisation.
        <h2>Our Mission:</h2>
        DGHA strives to foster, represent, promote, enhance and protect the interests of Australians who are dog guide
        handlers.
        <h2>Key Objectives:</h2>
        DGHA draws on the experiences and varied knowledge of its members, to provide peer support, advocacy and
        information for dog guide handlers throughout Australia.
        <h2>Background Information:</h2>
        Dog Guide Handlers Australia was formed in August 2009 by four passionate people who were inspired by similar
        groups which exist in other countries.
        DGHA was registered as an incorporated association in January 2011.
        DGHA does not have a physical office, and we have no paid staff.
        The DGHA Committee is a group of dedicated volunteers who meet regularly via teleconference.
        <h2>Some of the issues we are advocating for include:</h2>
        <ul>
            <li>DGHA hosts biennial national conferences around Australia, to enable people with disability to meet
                together for peer support, networking, sharing information and participating in various workshop
                sessions and discussion forums.</li>
            <li>DGHA hosts regular members teleconference meetings, with invited guest speakers, and focus topic
                discussions.</li>
            <li>Advocating for equal access to client services. This includes assisting dog guide organisations to
                establish client advisory committees, throughout Australia.</li>
            <li>Developing a national photo identity card.</li>
            <li>Establishing availability of toileting areas for dog guide and service/assistance dogs within Australian
                airports.</li>
            <li>Advocating for the establishment of national standards for assistance dog training, public access
                testing and accreditation.</li>
            <li>Representation on external consultations on issues that affect people with disability.</li>
        </ul>
    </mat-card-content>
</mat-card>
<div class="notranslate">
    <a class="reviews" mat-raised-button color="primary" routerLink="/reviews" routerLinkActive="active">Reviews Page</a>
    <a class="assistance-dogs" mat-raised-button color="primary" routerLink="/assistance-dogs" routerLinkActive="active">Assistance Dogs Page</a>
</div>