<mat-card>
  <div class="notranslate">
    <mat-card-title class="title">
      <h1 style="font-weight: bold;">Assistance Dogs</h1>
    </mat-card-title>
  </div>
  <mat-card-content>
    <div class="dogInfo">
      <h1>The rights of Dog Guides and their Handlers</h1><br>
      <p>In line with Federal Laws, a person with low vision accompanied by a Guide Dog is permitted to:</p>
      <ul>
        <li>Travel on any form of public transport, including taxis, buses, trams and trains</li>
        <li>Enter any public place</li>
        <li>Visit any theatre</li>
        <li>Eat in any restaurant</li>
        <li>Shop in any store (including supermarkets and food stores)</li>
      </ul>
      <p>The only exceptions where a Guide Dog is not permitted are operating theatres, commercial kitchens and
        some parts of the zoo.</p>
      <p>It is generally discriminatory and unlawful for anyone to attempt to deny these rights to a person with
        low vision, or treat that person less favourably,
        solely because he or she is accompanied by a Guide Dog.</p>
      <p>These laws also apply to people training Guide Dogs and Guide Dog puppies.</p>
    </div>
  </mat-card-content>
</mat-card>
<div class="notranslate">
  <a mat-raised-button color="primary" routerLink="/home-page" routerLinkActive="active">Home Page</a>
  <a class="laws" mat-raised-button color="primary" routerLink="/laws" routerLinkActive="active">Laws Page</a>
</div>
